--
-- PostgreSQL database dump
--

\restrict y4TMUU35BxMsl9KZOwshM1NpfqO35PhgPPQMc1utrgJ9Wdm0nkroage3DQZA57v

-- Dumped from database version 13.23 (Debian 13.23-1.pgdg13+1)
-- Dumped by pg_dump version 13.23 (Debian 13.23-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ai_results; Type: TABLE; Schema: public; Owner: zabbix
--

CREATE TABLE public.ai_results (
    id integer NOT NULL,
    host character varying(100) NOT NULL,
    prediction character varying(50) NOT NULL,
    severity character varying(50),
    score double precision NOT NULL,
    issues text[],
    recommendations text[],
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.ai_results OWNER TO zabbix;

--
-- Name: ai_results_id_seq; Type: SEQUENCE; Schema: public; Owner: zabbix
--

CREATE SEQUENCE public.ai_results_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.ai_results_id_seq OWNER TO zabbix;

--
-- Name: ai_results_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: zabbix
--

ALTER SEQUENCE public.ai_results_id_seq OWNED BY public.ai_results.id;


--
-- Name: flags; Type: TABLE; Schema: public; Owner: zabbix
--

CREATE TABLE public.flags (
    id integer NOT NULL,
    audit_id integer NOT NULL,
    username character varying(50) NOT NULL,
    reason text NOT NULL,
    flagged_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    status character varying(20) DEFAULT 'pending'::character varying
);


ALTER TABLE public.flags OWNER TO zabbix;

--
-- Name: anomaly_feedback_id_seq; Type: SEQUENCE; Schema: public; Owner: zabbix
--

CREATE SEQUENCE public.anomaly_feedback_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.anomaly_feedback_id_seq OWNER TO zabbix;

--
-- Name: anomaly_feedback_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: zabbix
--

ALTER SEQUENCE public.anomaly_feedback_id_seq OWNED BY public.flags.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: zabbix
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    passwd character varying(255) NOT NULL,
    roleid integer NOT NULL,
    email character varying(100),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO zabbix;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: zabbix
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO zabbix;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: zabbix
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: ai_results id; Type: DEFAULT; Schema: public; Owner: zabbix
--

ALTER TABLE ONLY public.ai_results ALTER COLUMN id SET DEFAULT nextval('public.ai_results_id_seq'::regclass);


--
-- Name: flags id; Type: DEFAULT; Schema: public; Owner: zabbix
--

ALTER TABLE ONLY public.flags ALTER COLUMN id SET DEFAULT nextval('public.anomaly_feedback_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: zabbix
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: ai_results; Type: TABLE DATA; Schema: public; Owner: zabbix
--



--
-- Data for Name: flags; Type: TABLE DATA; Schema: public; Owner: zabbix
--

COPY public.flags (id, audit_id, username, reason, flagged_at, status) FROM stdin;
1	8	guest	flag	2026-04-24 11:07:12.548317	confirm
2	33	guest	nikomk el kahba ya ai	2026-04-24 19:33:41.892621	confirm
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: zabbix
--

COPY public.users (id, username, passwd, roleid, email, created_at) FROM stdin;
1	guest	$2b$12$qbJRylV1l4fiqoLNyiEchOYPNa2/fwLFBBxhIOHS0m1A3XsOA3uQi	2	guest@amenbank.com.tn	2026-04-21 11:06:01.966548
12	admin	$2b$12$g7TfOBw0ojVFAF3jM1n3n.pqKLLDn3rJJaU3PhhRPRGP8XnVoDNRG	1	admin@nexus.tn	2026-04-22 23:22:19.749198
14	louay	$2b$12$a3gOUJWIMtnmIm7GsaPFu.9itECmC5ipI6CYzndnVwyoo2172KboC	2	louaykrayem11@gmail.com	2026-04-24 11:12:45.157392
15	brahim	$2b$12$QpByhEUlZItptbLwN8ud5O7jBri2//gunfqjArylDJM84GWgozWsK	1	brahim@gmail.com	2026-04-24 19:35:12.628273
\.


--
-- Name: ai_results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zabbix
--

SELECT pg_catalog.setval('public.ai_results_id_seq', 63, true);


--
-- Name: anomaly_feedback_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zabbix
--

SELECT pg_catalog.setval('public.anomaly_feedback_id_seq', 2, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zabbix
--

SELECT pg_catalog.setval('public.users_id_seq', 15, true);


--
-- Name: ai_results ai_results_pkey; Type: CONSTRAINT; Schema: public; Owner: zabbix
--

ALTER TABLE ONLY public.ai_results
    ADD CONSTRAINT ai_results_pkey PRIMARY KEY (id);


--
-- Name: flags anomaly_feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: zabbix
--

ALTER TABLE ONLY public.flags
    ADD CONSTRAINT anomaly_feedback_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: zabbix
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: zabbix
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: flags fk_result; Type: FK CONSTRAINT; Schema: public; Owner: zabbix
--

ALTER TABLE ONLY public.flags
    ADD CONSTRAINT fk_result FOREIGN KEY (audit_id) REFERENCES public.ai_results(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict y4TMUU35BxMsl9KZOwshM1NpfqO35PhgPPQMc1utrgJ9Wdm0nkroage3DQZA57v

