# Web & Server
fastapi
uvicorn
pydantic
python-multipart
jinja2

# Security
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
passlib[bcrypt]

# AI & Data
numpy
pandas
scikit-learn
joblib

# Database & Utils
psycopg2-binary
python-dotenv
requests

# Visuals & Reports
matplotlib
seaborn
fpdf